@page "/"
@using Crud.Net.Shared;
@inject HttpClient Http
<h1>Lista de usuarios</h1>
<div class="row">
    <div class="col-mb-6">
        <a href="/usuario/nuevo" class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Nuevo Usuario
        </a>
    </div>
 </div>
 <br />
 @if (lista == null)
 {
     <p><em>Cargando...</em></p>
 }
 else
 {
     <table class="table table-striped align-middle table-bordered">
         <thead class="table-success">
             <tr>
                 <th>ID</th>
                 <th>Nombre</th>
                 <th>Apellido</th>
                 <th>Telefono</th>
                 <th>E-mail</th>
             </tr>
         </thead>
         <tbody>
             @foreach (var usuario in lista)
             {
                 <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.Telefono</td>
                    <td>@usuario.Email</td>
                    <td>
                        <a href='/usuario/editar/@usuario.Id' class="btn btn-secondary" role="button">
                            Editar
                        </a>
                        <a href='/user/delete/@usuario.Email' class="btn btn-danger" role="button">
                            Borrar
                        </a>
                    </td>
                 </tr>
             }
         </tbody>

     </table>
 }

@code {

    private List<Usuario> lista;

    protected override async Task OnInitializedAsync()
    {
        lista = await Http.GetFromJsonAsync<List<Usuario>>("api/Usuario");
    }
}